<h1>Characters</h1>
<section class="mainCharSection">
  <img src="{{img}}" alt="" />
  <ul class="people">
    <li enlarge-directive films='person.films'ng-repeat="person in people track by $index" ng-click="showPhoto(person)">
      {{person.name}}

    </li>
    <div class="arrows">
      <div class="arrow" ng-click="back()">
        <
      </div>
      <div class="arrow" ng-click="next()">
        >
      </div>
    </div>
  </ul>
  <div class="theFilms">
    <h4>Click black to see what films they have been in!</h4>
    <div class="films"films-directive >

    </div>
  </div>




</section>
